body {
    background-color: black;
}

canvas {
    border: 1px solid #d49414;
    border-radius: 1px;
    text-align: center;
    margin-left: 10%;
    background-color: black;
}

.game {
    width: 80%;
    margin: 0 auto;
}

#instructions {
    color: #666;
    width: 80%;
    margin: 0 auto;
}